@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tv Series</h1>
    <p class="lead">A Place where you can keep track of all tv series you own or have seen.</p>
    
</div>

<div class="row">
    <div class="col-md-4 col-sm-4">
        <h2>Getting started</h2>
        <p>
            Add tv series to the database and keep track of all amzing stories you have seen so that you can recommend them to fyour friends
        </p>

    </div>
    <div class="col-md-4 col-sm-4">
        <h2>Imdb</h2>
        <p>Can't remember a name? Check in imdb!</p>
        <p><a href="https://www.imdb.com" class="btn btn-primary btn-lg">IMDB</a></p>
        
    </div>
    <div class="col-md-4 col-sm-4">
        <h2>TvSeries of the month</h2>
        <p>Mr. Robot</p>
        <p><a href="https://www.imdb.com/title/tt4158110/?ref_=fn_al_tt_2" class="btn btn-primary btn-lg">Check it</a></p>
        
    </div>

</div>